.data-info-container-mobile {
    margin-top: 90px;
    display: block;
    min-width: 100%;
}

.data-info-container-mobile .mobile-wrapper {
    margin-top: 17px;
    display: grid;
    grid-template-columns: 55% auto;
    margin-bottom: 17px;
}

.data-info-container-mobile .inner-container {
    display: block;
}

.data-info-container-mobile .inner-container span {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #2E3156;
}

.data-info-container-mobile .inner-container span:nth-child(1) {
    font-weight: 700;
}

.data-info-container-mobile .inner-container span:nth-child(2) {
    text-transform: capitalize;
}